body {
  background-image: url("https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwjc-J2UjOLgAhWn6YMKHUZnCa4QjRx6BAgBEAU&url=http%3A%2F%2Fwww.baltana.com%2Fbasketball-team%2Fphiladelphia-76ers-wallpaper-34027.html&psig=AOvVaw2uE1AT9pJKwngizIPK9A1c&ust=1551569213296234");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
}